[Unit]
Description=Start radeonpm server program
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/sbin/radeonpmserver

[Install]
WantedBy=multi-user.target