[Unit]
Description=Start radeonpm server program
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/radeonpmserver.py

[Install]
WantedBy=multi-user.target