[Unit]
Description=radeontray server component
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/radeontrayserver

[Install]
WantedBy=multi-user.target