[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Radeon-tray
Comment=Client side of radeontray program
Exec=python /usr/bin/radeontrayclient.py client
Icon=/usr/share/Radeon-tray-pixmaps/radeon-tray.svg