[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Radeon-tray
Comment=Client side of radeontray program
Exec=/usr/bin/radeontray client
Icon=/usr/share/Radeon-tray-icon/radeon-tray.svg